# General
.DS_Store
Thumbs.db
*.log
.cursorrules

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# AWS
.aws/
aws-keys.csv
credentials.csv

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
